name: Java CI

on:
  push:
    branches:
     - main
     - dev
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Run Unit Tests
        run: mvn verify
      - name: Archive Jacoco reports
        uses: actions/upload-artifact@v2.2.4
        with:
          name: jacoco-reports
          path: target/site/jacoco
      - name: Check Coverage
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: target/site/jacoco/jacoco.csv
          on-missing-report: fail
          fail-if-coverage-less-than: 80
          fail-if-branches-less-than: 80
          fail-on-coverage-decrease: true
          fail-on-branches-decrease: true